@font-face {
  font-family: 'TiemposHeadlineApp-Regular';
  src: url('TiemposHeadlineApp-Regular.eot');
  src: url('TiemposHeadlineApp-Regular.woff') format('woff'),
       url('TiemposHeadlineApp-Regular.ttf') format('truetype'),
       url('TiemposHeadlineApp-Regular.svg#TiemposHeadlineApp-RegularNormal') format('svg'),
       url('TiemposHeadlineApp-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
